<!---
@Aayush Khanna
Trainee Technology

This is html file containing layout of front i.e. home page
-->
<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Blogpost</a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <a class="nav-link active" aria-current="page" routerLink="/">Home Page</a>
            </div>
        </div>
    </div>




<router-outlet></router-outlet>
